<configuration scan="true">
    <jmxConfigurator/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %date{HH:mm:ss,SSS} %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="Main" additivity="false" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>